{:project-formatted-name "Fastester"
 :copyright-holder "Brad Losavio"

 :changelog-UUID #uuid "b86f866a-a8f0-41ad-ad37-726e584a783e"

 :changelog-html-directory "doc/"
 :changelog-html-filename "changelog.html"

 :changelog-markdown-directory ""
 :changelog-markdown-filename "changelog.md"

 :changelog-entries-directory "resources/changelog_entries/"
 :changelog-data-file "changelog.edn"

 :tidy-html? true}

