{:sections [{:section-name "Setup"}
            {:section-name "API" :section-href "https://blosavio.github.io/fastester/index.html" :skip-section-load? true}
            {:section-name "Changelog" :section-href "https://github.com/blosavio/fastester/blob/main/changelog.md" :skip-section-load? true}
            {:section-name "Introduction" :section-href "intro"}
            {:section-name "Ideas" :section-href "ideas"}
            {:section-name "Usage" :section-href "usage"}
            {:section-name "Limitations & mitigations" :section-href "limits"}
            {:section-name "Alternatives & references" :section-href "alternatives"}
            {:section-name "Non-goals" :section-href "goals"}
            {:section-name "Examples" :section-href "examples"}
            {:section-name "Glossary" :section-href "glossary"}
            {:section-name "Contact" :section-href "https://github.com/blosavio" :skip-section-load? true}]

 :clojars-badge? true
 :copyright-holder "Brad Losavio"

 ;; special directives to zprint on how to handle these functions
 :fn-map-additions {}

 :project-description "A Clojure library for measuring and displaying
  performance changes"

 :project-name-formatted "Fastester"

 :preferred-project-metadata :lein

 :readme-UUID #uuid "a19c373d-6b51-428e-a99f-a8e89a37b60c"

 :readme-html-directory "doc/"
 :readme-html-filename "readme.html"

 :readme-markdown-directory ""
 :readme-markdown-filename "README.md"

 :sections-directory "resources/readme_sections/"

 :separator " => "
 :wrap-at 80

 :tidy-html? true}

