{:title "`sem-ver-compare` example"

 :responsible {:name "Abraham Lincoln"
               :email "blosavio@sagevisuals.com"}

 :copyright-holder "Abraham Lincoln"

 :fastester-UUID #uuid "32bcc839-d3cc-49a7-9c69-2fbf43f59a0d"

 :preferred-version-info :lein

 :benchmarks {'semver.benchmarks #{'inc-test}}
 
 ;; output directories and filenames
 :html-directory "doc/"
 :html-filename "semver_performance.html"
 :img-subdirectory "semver_img/"

 :markdown-directory "doc/"
 :markdown-filename "semver_performance.md"

 :results-url "https://github.com/blosavio/fastester/blob/main/"
 :results-directory "resources/semver_performance/"

 :verbose? true
 :testing-thoroughness :lightning
 :parallel? true
 :save-benchmark-fn-results? false

 :sort-comparator compare

 :tidy-html? true

 :preamble [:p "Example benchmarks to verify `sem-ver-compare`."]

 :comments
 {"A sham group"
  [:p "Example comments for `sem-ver-compare` demo. Results are meaningless."]}

 :chart-settings
 {"(fn [x] (inc x))"
  {:x-axis-logarithmic? true
   :y-axis-logarithmic? false}}}

