{:title "Sorting semantic versions with `clojure.core/compare`"

 :responsible {:name "Brad Losavio"
               :email "blosavio@sagevisuals.com"}

 :copyright-holder "Brad Losavio"

 :fastester-UUID #uuid "6521c57a-63be-472f-a21d-9579980a156b"

 :preferred-version-info :lein

 :benchmarks {'semver.benchmarks #{'inc-test}}
 
 ;; output directories and filenames
 :html-directory "doc/"
 :html-filename "semver_performance.html"
 :img-subdirectory "semver_img/"

 :markdown-directory "doc/"
 :markdown-filename "semver_performance.md"

 :results-url "https://github.com/blosavio/fastester/blob/main/"
 :results-directory "resources/semver_performance/"

 :verbose? true
 :testing-thoroughness :lightning
 :parallel? true
 :save-benchmark-fn-results? false

 :sort-comparator compare

 :tidy-html? true

 :preamble [:p "Example benchmarks to demonstrate `clojure.core/compare`."]

 :comments
 {"A sham group"
  [:p "Example comments for `clojure.core/compare` demo. Results are
 meaningless. See "
   [:a {:href "https://github.com/blosavio/fastester/blob/02b31d2c27e5b2878e5da8488cb838dfeff3f270/resources/semver_options.edn#L30"}
    "options"]
   " for example usage."]}

 :chart-settings
 {"(fn [x] (inc x))"
  {:x-axis-logarithmic? true
   :y-axis-logarithmic? false}}}

